/*
blue rgb(18, 86, 135)
teal rgb(0, 137, 152)
orange rgb(239, 130, 0)
purple rgb(101, 31, 118)
gray rgb(159, 164, 166)
red rgb(220, 41, 30)
black rgb(17, 28, 36)
*/

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row;
  height: 100%;
}

.flex-container {
  height: 100%;
  width: 100%;
}

.tree {
  background-color: rgb(243, 243, 243);
  color: #6C6C6C;
  font-family: HelveticaNeue-Light,sans-serif;
  font-size: 13px;
  overflow: scroll;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  width: 250px;
}

.tree ul {
  cursor: pointer;
  list-style: none;
  padding-left: 12px;
}

.tree span {
  background-position: -10px 0px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.content {
  width: 100%;
}

footer {
  bottom: 0;
  color: white;
  background-color: rgb(0, 114, 197);
  position: absolute;
  width: 100%;
}

.tree-item-selected {
  font-style: oblique;
}